<div class="footer">
  <ul class="social-links">
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="#"><i class="fa fa-btc"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <h3>made with love</h3>
  </ul>
</div>

