---
contact: Le Wagon Middleman boilerplate
---
<div class="container team-profile">
  <div class="text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12190985_914234425324628_5817551469201946041_n.jpg?oh=6478e0afdccebdbfcaa0eab7ae41eb74&oe=56C0DCD9" alt="" class="avatar avatar-large avatar-bordered">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12190985_914234425324628_5817551469201946041_n.jpg?oh=6478e0afdccebdbfcaa0eab7ae41eb74&oe=56C0DCD9" alt="" class="avatar avatar-large avatar-bordered">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12190985_914234425324628_5817551469201946041_n.jpg?oh=6478e0afdccebdbfcaa0eab7ae41eb74&oe=56C0DCD9" alt="" class="avatar avatar-large avatar-bordered">
    </div>
  </div>
    <% numero= 3 %>
    <h2><%= "Nous sommes #{numero}" %></h2>
     <h3>Contact Us</h3>
     <h3>+ 33 (0)6 58 07 01 32</h3>
</div>







